produktspesifikasjon/xsd/FKBTiltak.xsd_SchematronSchema.xml

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <title>Schematron constraints for schema 'FKB-Tiltak-5.1-Utkast'</title>
  <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
  <ns prefix="app" uri="http://skjema.geonorge.no/SOSI/produktspesifikasjon/FKB-Tiltak/5.1"/>
  <pattern>
    <rule context="app:AndreTiltak">
      <assert test="count(app:område) + count(app:posisjon) = 1">skal ha enten punkt- eller flategeometri</assert>
    </rule>
    <rule context="app:BygningTiltak">
      <assert test="count(app:område) + count(app:posisjon) = 1">skal ha enten punkt- eller flategeometri</assert>
    </rule>
    <rule context="app:Posisjonskvalitet">
      <assert test="app:datafangstmetodeHøyde/concat(@codeSpace,'/',text()) != 'dig'">ugyldige datafangstmetoder for høyde: Datafangstmetode Digitalisert skal ikke brukes på egenskapen datafangstmetodeHøyde</assert>
    </rule>
    <rule context="app:SamferdselTiltak">
      <assert test="count(app:område) + count(app:posisjon) = 1">skal ha enten punkt- eller flategeometri</assert>
    </rule>
  </pattern>
</schema>
